.head-btn {
    border: none;
    border-radius: 7px;
    padding: 10px 25px;
    background: #ff9900;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.title-list {
    color: blue;
    text-decoration: none;
    padding-top: 25px;
}

.title-list:hover {
    color: tomato;
}

.title-list-link {
    color: blue;
    text-decoration: none;
}

.title-list-link:hover {
    color: tomato;
}

.section-module-7 {
    margin-top: 50px;
}

.add-btn {
    margin-bottom: 20px;
}

.js-container-module-7 {
    outline: 2px solid tomato;
}

.btn-task-1 {
    margin-right: 15px;
}

.list-task-2 {
    list-style-type: none;
    display: flex;
}

.list-item-task-2 {
    margin-right: 15px;
}

.btn-task-2-active {
    color: white;
    background-color: blue;
}

.containerTask3 {
display: flex;
}

.color-card {
outline: 2px solid black;
width: 150px;
margin: 5px;
padding: 5px;
}

.color-swatch {
    height: 150px;
    width: 150px;
}

.color-meta {
    width: 150px;
}